.content__section {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    background: rgba(255,255,255,0.7);
    border-radius: 24px;
    padding: 32px 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}

.music__servises {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}