.tracksTab {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}

.uploadedTrack {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
